.aboutContainer {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.desciptionHeader {
  font-family: Roboto;
  font-size: 26px;
  font-weight: 900;
  line-height: 21px;
  letter-spacing: 0em;
}
.aboutDescription {
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.aboutImg {
  max-width: 100%;
}
.desciptionText {
  max-width: 490px;
  display: flex;
  flex-direction: column;
  /* style */
  font-family: Roboto;
  font-size: 17px;
  font-weight: 500;
  /* line-height: 18px; */
  letter-spacing: 0em;
  text-align: left;
  color: #4f4f4f;
}
