.slyder__container {
  max-width: 80%;
  margin-inline: auto;
}
.slider__position {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 80%;
  height: 450px;
  margin-inline: auto;
}
.slider__card {
  /* background-color: darkgray; */
  height: 250px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
