.container {
  /* size */
  max-width: 980px;
  height: 850px;

  /* margin */
  margin-inline: auto;

  /* placing */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.formSize {
  /* From https://css.glass */
  background: rgba(230, 218, 218, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.2px);
  -webkit-backdrop-filter: blur(3.2px);
  border: 1px solid rgba(230, 218, 218, 0.04);
  /* size */
  width: 400px;
  height: 500px;
  /* placing */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.formStyling {
  height: inherit;
  /* placing */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.h1 {
  color: #fff;
  text-align: center;
  /* font-size: 42px; */
  font-size: 3em;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.slogan {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-family: Roboto;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}
input {
  border-radius: 5px;
  width: 200px;
  height: 26px;
  align-items: center;
}
input::placeholder{
  padding: 5px;
  font-size: 16px;
  align-items: flex-start;
}
.formHeader {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  color: #fff;
}
.btnPosition{
  text-align: right;
}
